@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@{
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/jquery.imgareaselect.pack.js")
    @Styles.Render("/Content/css/imgareaselect-default.css")
}
@{
    ViewBag.Title = "Movie List";
}
<div class="container-fluid">
    <div class="col-md-6">
        <img id="photo" src="@Url.Content("~/Content/Image/test.jpg")" alt="Sample Photo" style="max-width:100%; max-height:100%;" />
    </div>
    <div class="col-md-6">
        <input type="submit" value="Crop" onclick="location.href='@Url.Action("CropImage", "HelloWorld")'" />
        <br />
        <form action="@Url.Action("Index","HelloWorld")" method="post">
            <p>x1: <input name="x1" id="x1" value="" /></p>
            <p>y1: <input name="y1" id="y1" value="" /></p>
            <p>x2: <input name="x2" id="x2" value="" /></p>
            <p>y2: <input name="y2" id="y2" value="" /></p>
            <p>Width: <input name="w" id="w" value="" /></p>
            <p>Height: <input name="h" id="h" value="" /></p>
            <input type="submit" name="submit" value="Submit" /></p>
        </form>

    </div>
</div>
